    [Unit]
  Description=systemd Unit to automatically start bshplyr
  # ammended [Install] section at the end as suggested in https://forums.opensuse.org/showthread.php/500207-Need-the-bluetooth-activated-at-boot-before-login
  Documentation=https://wiki.archlinux.org/index.php/Bluetooth_Keyboard
  ConditionPathExists=/usr/bin/bshplyr
  ConditionPathExists=/usr/bin/gpout.sh
  ConditionPathExists=/usr/bin/gpin.sh
  
  [Service]
  Type=oneshot
  ExecStart=/usr/bin/bshplyr
  
  [Install]
  WantedBy=multi-user.target
